
<div class="wrapper">

    <app-header></app-header>
  
    <app-sidebar></app-sidebar>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-fluid">
          
          <!-- Breadcrumbs -->
          <app-breadcrumbs></app-breadcrumbs>
  
          <!-- Mi sistema de rutas -->
  
           <!-- Main content -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
  
                  <router-outlet></router-outlet>
                  
                </div>
              </div>
            </div>
          </div>
  
        </div>      
  
    </div>
    <footer class="main-footer">
      <strong>Copyright &copy; 20xx Utopia Soft</strong>
      Todos los derechos reservados.
      <div class="float-right d-none d-sm-inline-block">
        
      </div>
    </footer>
  </div>


