
<div class="row animated fadeIn fast">
    <div class="input-group col-12">
        <div class="card col-6">
            <div class="card-body">
                Fecha Inicial
                <div class="input-group" dir="ltr">
                    <input class="form-control" 
                      placeholder="yyyy/m/d" 
                      name="dp"  
                      ngbDatepicker 
                      [(ngModel)]="fechaInicial"
                      [firstDayOfWeek] = "6"
                      [readonly]="true"
                      (ngModelChange)="onSelectFechaInicial()"
                      #di="ngbDatepicker">
                      <button class="input-group-addon" (click)="di.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                </div>
            </div>
        </div>
        <div class="card col-6">
            <div class="card-body">
                Fecha Final
                <div class="input-group" dir="ltr">
                    <input class="form-control" 
                      placeholder="yyyy/m/d" 
                      name="dp"  
                      ngbDatepicker 
                      [(ngModel)]="fechaFinal"
                      [firstDayOfWeek] = "6"
                      [readonly]="true"
                      (ngModelChange)="onSelectFechaFinal()"
                      #df="ngbDatepicker">
                      <button class="input-group-addon" (click)="df.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="this.cargando">
    <div class="col-12">
        <div class="alert alert-success text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fas fa-spinner fa-spin fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div>

<a class="btn btn-app bg-success"
    style="background-color: var( --verdeColor) !important;"
   *ngIf="!this.cargando" 
   (click)="abrirModal()">
    <i class="fas fa-barcode"></i> Agregar
</a>


<div class="col-12" *ngIf="!this.cargando">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="w75">Fecha</th>
                            <th class="w75">Monto</th>
                            <th class="w75">Tipo</th>
                            <th>Descripción</th>
                            <th class="text-nowrap w50">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of movimientos | sortFecha">
                            <td>{{ item.fecha | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ item.monto }}</td>
                            <td [ngClass]="(item.tipo === 1)? 'tipoIngreso': 'tipoGasto'">
                                <div [ngSwitch]="item.tipo">
                                    <div *ngSwitchCase="0">Gasto</div>
                                    <div *ngSwitchCase="1">Ingreso</div>
                                </div>
                            </td>
                            <td>
                                {{ item.descripcion }}
                            </td>
                            <td class="text-nowrap">
                                <a class="btn btn-sm" (click)="abrirModal( item )" data-toggle="tooltip" data-original-title="Edit"> <i class="fas fa-pen text-inverse mr-3"></i> </a>
                                <a class="btn btn-sm" (click)="deleteTurno( item )" data-toggle="tooltip" data-original-title="Close"> <i class="fas fa-times text-danger"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
