
<div class="row animated fadeIn fast">
    <div class="input-group col-12">
        <div class="card col-3">
            <div class="card-body">
                Fecha Inicial
                <div class="input-group" dir="ltr">
                    <input class="form-control" 
                      placeholder="yyyy/m/d" 
                      name="dp"  
                      ngbDatepicker 
                      [(ngModel)]="fechaInicial"
                      [firstDayOfWeek] = "6"
                      [readonly]="true"
                      (ngModelChange)="onSelectFechaInicial()"
                      #di="ngbDatepicker">
                      <button class="input-group-addon" (click)="di.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                </div>
            </div>
        </div>
        <div class="card col-3">
            <div class="card-body">
                Fecha Final
                <div class="input-group" dir="ltr">
                    <input class="form-control" 
                      placeholder="yyyy/m/d" 
                      name="dp"  
                      ngbDatepicker 
                      [(ngModel)]="fechaFinal"
                      [firstDayOfWeek] = "6"
                      [readonly]="true"
                      (ngModelChange)="onSelectFechaFinal()"
                      #df="ngbDatepicker">
                      <button class="input-group-addon" (click)="df.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                </div>
            </div>
        </div>
        <div class="card col-6">
            <div class="card-body">
                <div class="row" style="justify-content: center;">
                    <div class="col-6">
                        <pre style="margin:0px;padding: 0px;">Total Turnos: {{ totalTurnos  | currency}}</pre>
                        <pre style="margin:0px;padding: 0px;">Total Ventas: {{ totalVentas  | currency}}</pre>
                        <hr style="margin: 0">
                        <pre style="margin:0px; padding:0px">Subtotal    : {{ totalTurnos + totalVentas  | currency}}</pre>
                    </div>
                    <div class="col-6">
                        <pre style="margin: 0px; padding:0px">Otros Ingresos: {{ totalMovimientosIngresos  | currency}}</pre>
                        <pre style="margin: 0px; padding:0px">Total Gastos  : {{ totalMovimientosGastos  | currency}}</pre>
                        <hr style="margin: 0">
                        <pre style="margin: 0px; padding:0px">Subtotal2     : {{ totalMovimientosIngresos - totalMovimientosGastos  | currency}}</pre>
                    </div>
                </div>
                <h5 class="text-center" 
                    style="margin-top: 10px">
                    Total: 
                    <span [ngClass] = "(total<=0)? 'tipoGasto': 'tipoIngreso'"
                          style="margin: 0px; font-size: 1em; padding: 5px">
                          {{ total | currency }}
                    </span>
                </h5>
                <p 
                    class="text-center" 
                    style="margin-top: 10px; margin-bottom: 0px;">
                        Total en Caja al 
                        {{ fechaFinal.day }}/{{ fechaFinal.month }}/{{ fechaFinal.year }}: 
                        &nbsp;
                        &nbsp;
                        &nbsp;
                    <span [ngClass] = "(totalEnCaja <= 0)? 'tipoGasto': 'tipoIngreso'"
                          style="margin: 0px; font-size: 1.2em; padding: 5px">
                        {{ totalEnCaja | currency }}
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="this.cargando">
    <div class="col-12">
        <div class="alert alert-success text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fas fa-spinner fa-spin fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div>

<div class="row">

    <div class="col-6" *ngIf="!this.cargando">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ventas</h4><br>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Monto</th>
                                <th class="text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ventas | sortFecha">
                                <td>{{ item.fecha | date: 'dd/MM/yyyy' }}</td>
                                <td>
                                    {{ item.monto | currency}}
                                </td>
                                <td>
                                    <a class="btn btn-sm" data-toggle="tooltip" data-original-title="Edit" (click) = "mostrarItem(item, 0)">
                                        <i class="fa fa-database" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
        </div>
    </div>
    
    
    <div class="col-6" *ngIf="!this.cargando">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Movimientos</h4><br>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Monto</th>
                                <th class="text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of movimientos | sortFecha">
                                <td>{{ item.fecha | date: 'dd/MM/yyyy' }}</td>
                                <td [ngClass]="item.tipo === 0? 'tipoGasto': 'tipoIngreso'">
                                    {{ item.monto | currency}}
                                </td>
                                <td>
                                    <a class="btn btn-sm" data-toggle="tooltip" data-original-title="Edit" (click) = "mostrarItem(item, 1)">
                                        <i class="fa fa-database" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
        </div>
    </div>
    
</div>