
<div class="modal-header">
    <h4 class="modal-title">Turnos</h4>
    <button type="button" 
            class="close" 
            data-dismiss="modal" 
            aria-label="Close"
            (click)="activeModal.dismiss( nuevo )">
    <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">

    <form id="produForm"
        autocomplete="off"
        [formGroup] = "turnoForm"
        (ngSubmit) = "crearTurno()">

        <h3 class="box-title m-t-40 m-b-0" *ngIf="!isModificar">Registrar nuevo Turno</h3>
        <h3 class="box-title m-t-40 m-b-0" *ngIf="isModificar">Modificar Turno</h3>

        
        <div class="form-group">
            <label>Cliente</label>
            <ng-select2 class="select2"
                        [data]="clientes"
                        [(ngModel)]="cliente"     
                        [ngModelOptions] = "{standalone: true}"                        
                        [options] = "options">
            </ng-select2>
        </div>
        
        <div class="form-group">
            <label>Cancha</label>
            <ng-select2 class="select2"
                        [data]="canchas"
                        [(ngModel)]="cancha"  
                        [ngModelOptions] = "{standalone: true}"
                        [options] = "options">                              
            </ng-select2>                  
        </div>

        <div class="form-group input-group mb-3" >
            <label>Fecha</label>
            <div class="input-group" dir="ltr">
                <input class="form-control" 
                    placeholder="dd/mm/yyyy" 
                    name="dp"  
                    ngbDatepicker 
                    [(ngModel)] = "fecha"
                    [ngModelOptions]="{standalone: true}"
                    [firstDayOfWeek] = "6"
                    [readonly]="true"
                    #dmodal="ngbDatepicker">
                <button class="input-group-addon" (click)="dmodal.toggle()" type="button">
                <i class="fas fa-calendar-day"></i>
                </button>
            </div>
        </div>

        <div class="form-group input-group mb-3">
            <label>Hora</label>
            <ngb-timepicker class="ocultarminuto"
                            [(ngModel)]="hora"
                            [ngModelOptions]="{standalone: true}"
                            minute-step = "0">
            </ngb-timepicker>
        </div>

        <div class="form-group">
            <select name="tipo"
                    class="form-control"
                    formControlName="tipo"
                    value="normal">
            <option value="normal">Normal</option>
            <option value="fijo">Fijo</option>
            </select>
        </div>

        <div class="form-group">
            <select name="estado"
                    class="form-control"
                    formControlName="estado"
                    value="reservado">
            <option value="reserva">Reserva</option>
            <option value="cancelado">Cancelado</option>
            <option value="abandonado">Abandonado</option>
            <option value="confirmado">Confirmado</option>
            </select>
        </div>
        
        <div class="form-group input-group">
            <div class="input-group-prepend">
            <span class="input-group-text">$</span>
            </div>
                <input class="form-control" 
                    type="number" 
                    placeholder="Precio de Venta"
                    formControlName="precio">
            <div class="input-group-append">
            <span class="input-group-text">.00</span>
            </div>
        </div>
    </form>
    <small *ngIf="formNoValido()" class="text-danger">
    Ya existe turno en ese horario y día
    </small>
</div>          
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"
            (click) = "activeModal.dismiss( nuevo )">Cancelar</button>
    <button *ngIf="isModificar" type="button" class="btn btn-primary" (click)="activeModal.close()">Modificar</button>
    <button *ngIf="!isModificar" type="button" class="btn btn-primary" (click)="crearTurno()">Guardar</button>
</div>


