
<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="input-group" dir="ltr">
                    <input class="form-control" 
                      placeholder="yyyy/m/d" 
                      name="dp"  
                      ngbDatepicker 
                      [(ngModel)]="fecha"
                      [firstDayOfWeek] = "6"
                      [readonly]="true"
                      (ngModelChange)="onSelectFecha()"
                      #d="ngbDatepicker">
                      <button class="input-group-addon" (click)="d.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="this.cargando">
    <div class="col-12">
        <div class="alert alert-success text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fas fa-spinner fa-spin fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div>

<a class="btn btn-app bg-success"
   style="background-color: var( --verdeColor) !important;" 
   *ngIf="!this.cargando" 
   (click)="abrirModal()">
    <i class="fas fa-barcode"></i> Agregar
</a>

<a class="btn btn-app bg-success"
   style="background-color: var( --verdeColor) !important;" 
   *ngIf="!this.cargando" 
   (click)="abrirModalListado()">
    <i class="fas fa-list"></i> Listar
</a>

<div class="col-12" *ngIf="!this.cargando">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Total de Turnos {{ totalTurnos }}</h4><br>
            <h6>Turnos registrados en la fecha </h6>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Cancha</th>
                            <th>Hora</th>
                            <th>Cliente</th>
                            <th>Estado</th>
                            <th class="text-nowrap">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of turnos | sortTurnos">
                            <td>{{ item.cancha }}</td>
                            <td>{{ item.hora }}</td>
                            <td>
                                {{ item.cliente['nombreCompleto'] }}
                            </td>
                            <ng-container [ngSwitch]="item.estado">
                              <td *ngSwitchCase="'reservado'">Reservado</td>
                              <td *ngSwitchCase="'cancelado'">Cancelado</td>
                              <td *ngSwitchCase="'cobrado'">Cobrado</td>
                              <td *ngSwitchDefault></td>
                            </ng-container>
                            <td class="text-nowrap">
                                <a class="btn btn-sm" (click)="abrirModal( item )" data-toggle="tooltip" data-original-title="Edit"> <i class="fas fa-pen text-inverse mr-3"></i> </a>
                                <a class="btn btn-sm" (click)="deleteTurno( item )" data-toggle="tooltip" data-original-title="Close"> <i class="fas fa-times text-danger"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

