
<div class="modal-header">
    <h4 class="modal-title">Usuario</h4>
    <button type="button" 
            class="close" 
            data-dismiss="modal" 
            aria-label="Close"
            (click)="activeModal.dismiss( nuevo )">
    <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">

    <form id="clientForm"
        autocomplete="off"
        [formGroup] = "usuarioForm"
        (ngSubmit) = "crearUsuario()">

        <h3 class="box-title m-t-40 m-b-0" *ngIf="!isModificar">Registrar nuevo Usuario</h3>
        <h3 class="box-title m-t-40 m-b-0" *ngIf="isModificar">Modificar Usuario</h3>
        
        <div class="form-group input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fas fa-user"></i>
            </span>
            </div>
            <input class="form-control" 
                type="text" 
                placeholder="Nombre Completo"
                formControlName="nombre">
        </div>

        <div class="form-group input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fas fa-at"></i>
            </span>
            </div>
            <input class="form-control" 
                type="email" 
                placeholder="Email"
                formControlName="email">
        </div>

        <div class="form-group input-group mb-3" *ngIf="!isModificar">
            <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fas fa-key"></i>
            </span>
            </div>
            <input class="form-control" 
                type="password" 
                placeholder="Password"
                formControlName="password">
        </div>

        <div class="form-group input-group mb-3" *ngIf="!isModificar">
            <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fas fa-key"></i>
            </span>
            </div>
            <input class="form-control" 
                type="password" 
                placeholder="Re-Password"
                formControlName="password2">
        </div>

        <div class="form-group">
            <label>Rol</label>
            <ng-select2 class="select2"
                        [data]="roles"
                        [(ngModel)]="role"  
                        [ngModelOptions] = "{standalone: true}"
                        [options] = "options">                              
            </ng-select2>                  
        </div>
        <div class="row">
            <div class="col text-danger">
                
                <p *ngIf="campoNoValido('nombre')">El nombre es obligatorio</p>
                <p *ngIf="campoNoValido('email')">El email es obligatorio y tiene que ser válido</p>
                <p *ngIf="campoNoValido('password2')">Las contraseñas no coinciden</p>

            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" 
            class="btn btn-default" 
            style="background-color: var( --rojoColor) !important; color: white"
            data-dismiss="modal"
            (click) = "activeModal.dismiss( nuevo )">
            Cancelar
    </button>
    <button *ngIf="isModificar" 
            type="button" 
            class="btn btn-primary" 
            style="background-color: var( --verdeColor) !important;"
            (click)="modificarUsuario()">Modificar</button>
    <button *ngIf="!isModificar" 
            type="button" 
            style="background-color: var( --verdeColor) !important;"
            class="btn btn-primary" 
            (click)="crearUsuario()">Guardar</button>
</div>

