<div class="row animated fadeIn fast">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <input tabindex="0" type="text" class="form-control" placeholder="Buscar por nombre o codigo de Barra..." id="txtTermino"/>
                </div>
            </div>
            <a class="btn btn-app bg-success"
               (click)="abrirModal()">
               <i class="far fa-futbol fa-2x"></i>Turno
            </a>
            <a class="btn btn-app bg-primary"
               (click)="Guardar()">
               <i class="fas fa-check-circle"></i>Cobrar
            </a>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <p> Productos:  {{ totalProductos }}</p>
                    <p> turnos   : {{ totalTurnos }}</p>
                    <hr>
                    <h5 style="margin-bottom: 0 !important;"> Total    : {{ total }} </h5>
                </div>
            </div>
        </div>
</div>


<div class="col-12" *ngIf="this.turnosElegidos.length > 0">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Turnos Cobrados</h4>            
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="w75">Fecha</th>
                            <th class="w75">Hora</th>
                            <th>Cliente</th>
                            <th class="w100">Precio</th>
                            <th class="w50">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of this.turnosElegidos">
                            <td>{{ item.fecha | date: 'dd/MM/yyyy' }}</td>
                            <td>
                                {{ item.hora }}
                            </td>
                            <td>{{ item.cliente['nombreCompleto'] }} </td>
                            <td>
                                <input class="w100" type="number" 
                                       value = "{{ item.precio }}"
                                       (change) = "calcularTurno( item, $event )">   
                            </td>                        
                            <td class="text-nowrap">                                
                                <a class="btn btn-sm" (click)="eliminarTurno( item )" data-toggle="tooltip" data-original-title="Close"> <i class="fas fa-minus-circle fa-2x text-danger"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>




<div class="col-12" *ngIf="this.productosElegidos.length > 0">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Detalle de la Venta</h4>            
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th class="w75">Precio</th>
                            <th class="w100">Existencias</th>
                            <th class="w100">Cantidad</th>
                            <th class="w100">Total</th>
                            <th class="w75">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of this.productosElegidos">
                            <td>{{ item.producto.nombre }}</td>
                            <td>
                                <input class="w75" type="number" 
                                       value = "{{ item.producto.pVenta }}"
                                       (change) = "calcularProducto( item, $event )">   
                            </td>
                            <td>
                                {{ item.producto.stock }}
                            </td>
                            <td>{{ item.cantidad }} </td>
                            <td>{{ item.monto }}</td>
                            <td class="text-nowrap">
                                <a class="btn btn-sm" (click)="incrementar( item )" data-toggle="tooltip" data-original-title="Edit"> <i class="fas fa-plus-circle fa-2x text-inverse"></i> </a>
                                <a class="btn btn-sm" (click)="decrementar( item )" data-toggle="tooltip" data-original-title="Close"> <i class="fas fa-minus-circle fa-2x text-danger"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
